//
// Tipografia
//

// Config settings
$config_add_rem_units: true !default;

// Default forn properties
$f_default_size: 16 !default; // px
$f_default_line_height: 135% !default; // Unit you want
$f_default_color: #333 !default;

// Font families
$f_default: normal 400 #{$f_default_size}px/#{$f_default_line_height} 'Times New Roman', Times, serif !default;
$f_other: normal 400 #{$f_default_size}px/#{$f_default_line_height} Helvetica, Arial, sans-serif !default;
$f_mono:  normal 400 #{$f_default_size}px/#{$f_default_line_height} monospace !default;
