//
// General forms
//

button, input, select, textarea, fieldset, legend, label, select {
  font: $f_default;
  text-align: left;
  @if $config_add_rem_units {
    font-size: #{$f_default_size/16}rem;
  }
}
